body {
  margin: 0;
  padding: 0;
  font-family: Hind, sans-serif;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}
.header-container{
color: #fff;
padding: 20px 0;
display: flex;
justify-content: center;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.links, ul{
  display: flex;
  list-style: none;
  padding: 10px 0;
  margin-right: 20px;
}

a{
  font-size: 17px;
  padding: 0 20px;
  font-family: Hind, sans-serif;
  color: #c16ecf;
  outline: 0;
  text-decoration: none;
}


a:hover{
  background: #81848f;
  color: skyblue;
}

.content-container{
  height: 810px;
}

.content-one{
  margin-top: 20px;
  height: 405px;
  width: 1905px;
  background-image: url(../website-pictures/11.jpg);
}

 .content-one h1{
  color: #81848f;
  position: absolute;
  left: 635px;
  font-size: 80px;
}

.content-two{
  height: 405px;
  width: 1905px;
  margin-top: 20px;
  display: flex;
}

.box-one{
  width: 952.5px;
  height:405px;
  background-color: #ccc;
}

.box-two{
  display:inline-flex;
  width: 952.5px;
  height: 405px;
  background: skyblue;

}

.image{
  max-width: 100%;
  max-height: 100%
}

.about{
  padding: 20px;
  color: #81848f;
}

p{
  font-size: 20px;
  font-family: Hind, sans-serif;
}

.image{
  max-width: 100%;
  max-height: 100%;
}



























<img src="website-pictures/PicsArt_08-15-09.21.52.jpg" class="image">
<img src="website-pictures/PicsArt_08-13-09.40.17.jpg" class="image">
<img src="website-pictures/PicsArt_08-24-07.49.10.jpg" class="image">
